.site-container {
    width: 90%;
    margin: auto;
    max-width: 75em;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
    font-family: "Special Elite";
}

.button, body, button {
    font-family: "Open Sans Condensed";
}

h1.site-title {
    background: url(../img/hero.jpg) repeat-x 50% -46px;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-shadow: 2px 4px 4px #000;
}

.main-footer {
    background-color: #555;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.main-footer > div {
    max-width: 75em;
    margin: auto;
}
